@font-face {
    src: url("../fonts/Roboto-Light.ttf");
    font-family: "Roboto";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}
.max-header {
    background-color: #ffffff;
    height: 100px;
    
}
.min-header {
   
    height: 80px;
}
.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas:  
        "lgo ... nav";
    grid-template-columns: auto 1fr auto; 
    align-content: center;    
}
.logo {
    grid-area: lgo;
}
.logo img {
    transition: all 0.4s ease-in-out;
}
.max-logo img {
    width: 161px;
}
.min-logo img {
    width: 80px;

}
.nav-bar {
    grid-area: nav;
    display: grid;
    align-content: center;
    
}
.nav-bar ul {
    display: grid;
    grid-auto-flow: column;
    text-transform: uppercase;
    grid-gap: 20px;
}
.nav-bar a {
    position: relative;
    font-family: "Taxi Drive";
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
}
.nav-bar a::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0; 
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;

}
.nav-bar a:hover::before {
    transform: scaleX(1);

}
.nav-bar a::after {
    content: "";
    position: absolute;
    bottom:-10px;
    left: 0; 
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;

}
.nav-bar a:hover::after {
    transform: scaleX(1);

}

.max-nav a {
   font-size: 1.5em;
   color: #000000;
      
}
.min-nav a {
    font-size: 0.875em;
    color: #000000;

}
.ghost {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

.ImgLeft {
    width: 49.5%;
    height: 949px;
    float: left;
    position: relative;
}



#photo {
    width: 1600px;
    height: 949px;
}

.text{
    position: absolute;
    top: 400px;
    left: 60px;
    color: #fff;
   }


   .icones{
      width: 3em;
     display: flex;      
     justify-items: center;
   }

 

   .textTest{
             width: 350px;
             height: 290px;
             display: inline-block;
   }

   .textParceiro{
       width: 404px;

   }

   
/* ======== configuração mobile ===== **/
@media(max-width: 768px) {
    .max-header {
        height: 160px; 
    }
    .min-header {
        height: 80px;
    }
    .container {
        position: relative;
        padding: 0 20px;
        grid-template-areas:  
            "lgo ... nmu";
    }
    .max-logo img {
        width: 110px;
    }
    .min-logo img {
        width: 80px;
    }
    .menu {
        grid-area: nmu;
        display: grid;
        align-content: center;
    }
    .hamburger { 
        position: relative;
        width: 28px;
        height: 3px;
        transition: all 0.4s ease-out; 
    }
    .hamburger::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out; 
        
    }
    .hamburger::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out; 
    }
    .max-hamburger, .max-hamburger::before, .max-hamburger::after{
        background-color: #000000;
    }
    .min-hamburger, .min-hamburger::before, .min-hamburger::after {
        background-color: #000000;
    }
    .close-btn{
        width: 32px;
        transform: rotate(45deg)
    }
    .close-btn::before, .close-btn::after {
        top: 0;
        transform: rotate(90deg);
    }

    .nav-bar {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #3a3939a6; 
        transform: translateX(-100%);
        transition: all 0.4s ease-out;
    }
    .max-nav{
        top: 80px;
        height: calc(100vh - 80px);
    }
    .min-nav {
        top: 60px;
        height: calc(100vh - 60px);

    }
    .menu-opened{
        transform: translateX(0);
    }
    .nav-bar ul {
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 80px;   
    }
    .nav-bar li {
        text-align: center;
    }
    .max-nav a {
        font-size: 1em;
        color: #000000;
           
     }
     .min-nav a {
        font-size: 1em;
        color: #000000;
     }

}
@media(max-width: 598px) {
        .max-header {
            height: 80px;
        }

        .min-header {
            height: 60px;
        }

        .container {
            position: relative;
            padding: 0 20px;
            grid-template-areas:
                "lgo ... nmu";
        }

        .max-logo img {
            width: 110px;
        }

        .min-logo img {
            width: 80px;
        }

        .menu {
            grid-area: nmu;
            display: grid;
            align-content: center;
        }

        .hamburger {
            position: relative;
            width: 28px;
            height: 3px;
            transition: all 0.4s ease-out;
        }

        .hamburger::before {
            content: "";
            position: absolute;
            top: -8px;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.4s ease-out;

        }

        .hamburger::after {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.4s ease-out;
        }

        .max-hamburger,
        .max-hamburger::before,
        .max-hamburger::after {
            background-color: #000000;
        }

        .min-hamburger,
        .min-hamburger::before,
        .min-hamburger::after {
            background-color: #000000;
        }

        .close-btn {
            width: 32px;
            transform: rotate(45deg)
        }

        .close-btn::before,
        .close-btn::after {
            top: 0;
            transform: rotate(90deg);
        }

        .nav-bar {
            position: absolute;
            left: 0;
            width: 100%;
            background-color: #3a3939a6;
            transform: translateX(-100%);
            transition: all 0.4s ease-out;
        }

        .max-nav {
            top: 80px;
            height: calc(100vh - 80px);
        }

        .min-nav {
            top: 60px;
            height: calc(100vh - 60px);

        }

        .menu-opened {
            transform: translateX(0);
        }

        .nav-bar ul {
            justify-content: center;
            grid-auto-flow: row;
            grid-gap: 80px;
        }

        .nav-bar li {
            text-align: center;
        }

        .max-nav a {
            font-size: 1em;
            color: #000000;

        }

        .min-nav a {
            font-size: 1em;
            color: #000000;
        }

        }

@media(max-width: 377px) {
    .max-header {
        height: 80px;
    }

    .min-header {
        height: 60px;
    }

    .container {
        position: relative;
        padding: 0 20px;
        grid-template-areas:
            "lgo ... nmu";
    }

    .max-logo img {
        width: 110px;
    }

    .min-logo img {
        width: 80px;
    }

    .menu {
        grid-area: nmu;
        display: grid;
        align-content: center;
    }

    .hamburger {
        position: relative;
        width: 28px;
        height: 3px;
        transition: all 0.4s ease-out;
    }

    .hamburger::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;

    }

    .hamburger::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
    }

    .max-hamburger,
    .max-hamburger::before,
    .max-hamburger::after {
        background-color: #000000;
    }

    .min-hamburger,
    .min-hamburger::before,
    .min-hamburger::after {
        background-color: #000000;
    }

    .close-btn {
        width: 32px;
        transform: rotate(45deg)
    }

    .close-btn::before,
    .close-btn::after {
        top: 0;
        transform: rotate(90deg);
    }

    .nav-bar {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #3a3939a6;
        transform: translateX(-100%);
        transition: all 0.4s ease-out;
    }

    .max-nav {
        top: 80px;
        height: calc(100vh - 80px);
    }

    .min-nav {
        top: 60px;
        height: calc(100vh - 60px);

    }

    .menu-opened {
        transform: translateX(0);
    }

    .nav-bar ul {
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 80px;
    }

    .nav-bar li {
        text-align: center;
    }

    .max-nav a {
        font-size: 1em;
        color: #000000;

    }

    .min-nav a {
        font-size: 1em;
        color: #000000;
    }

}


/* ======== fim configuração mobile ===== **/ 

main {
    font-size: 20px;
}
main section {
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: "Taxi Drive";
    font-size: 2em;
    color: #000000; 

    
}
main section:nth-child(odd) {
    height: 100vh; 
    background-color:#ffffffd0; 

}


main section:nth-child(even) {
    height: 100vh; 

    font-family: "Taxi Drive";
    font-size: 2em;
    color: #000000; 

}